<mat-card>
<h1>About Us</h1>

    <p>
        We’re consultants who understand how to translate complex business needs into products. We ask the tough questions to help refine and implement the right strategy to meet the business goals unique to each company.
        <br>
        <br>
        Multiverse Horizon offers end-to-end digital product services, with teams of developers each specializing in the latest technologies, enabling us to apply the right solution to each challenge from 
        product strategy and requirements analysis to hosting enterprise platforms
        and applications for clients with limited internal operational resources.
    </p>
</mat-card>