<mat-sidenav-container fullscreen>
  
  <mat-toolbar>   
    <a class="logo" routerLink="#">Multiverse Horizon</a>
    
      <mat-nav-list class="primary-nav">
        <a mat-button routerLink="#">Contact Us</a>
        <a mat-raised-button class="nav-btn-cta" routerLink="#" color="primary" >Get a Quote</a>
      </mat-nav-list>
    
    <button class="mobile-menu"
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
   </mat-toolbar>

     <mat-sidenav 
     #drawer      
     mode="push"
     position="end" >

    
     <mat-nav-list class="secondary-nav">
       <a mat-list-item routerLink="#" (click)="drawer.toggle()">Link 1</a>
       <a mat-list-item routerLink="#" (click)="drawer.toggle()">Link 2</a>
       <a mat-list-item routerLink="#" (click)="drawer.toggle()">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
      <router-outlet></router-outlet>
</mat-sidenav-container>