

<div class="toolbar">
    <mat-toolbar style="background-color: transparent;">

        
        <mat-icon><img src="../../../assets/img/Logo.svg" alt="#" class="icon"></mat-icon>
                <span style="margin-left: 0.3em ;" class="text" >
                    Multiverse Horizon
                </span>
                    <div class="spacer"></div>
                
                        <button mat-button>Services</button>
                        <button mat-button>text</button>
                        <button mat-button>text</button>
                   
                    <div class="spacer"></div>
                    <button mat-raised-button class="button text"> Get a Quote</button>

    </mat-toolbar>
</div>
