     <div class="container" fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">

             <h1>Let's Talk</h1>
             
             
             <div fxLayout="column" fxFlex="100">
                     <mat-form-field fxLayout appearance="outline">
                             <mat-label>Email</mat-label>
                             <input matInput>
                        </mat-form-field>    
                </div>
             <div fxLayout="column" fxFlex="50">
                     <mat-form-field fxLayout appearance="outline">
                             <mat-label>Name</mat-label>
                             <input matInput>
                        </mat-form-field>    
                </div>
             <div fxLayout="row" fxFlex="50">
                     <mat-form-field fxLayout appearance="outline">
                             <mat-label>Last Name</mat-label>
                             <input matInput>
                        </mat-form-field>    
                </div>
             <div fxLayout="column" fxFlex="100">
                     <mat-form-field fxLayout appearance="outline">
                             <mat-label>Explain your business Idea.</mat-label>
                             <input matInput>
                        </mat-form-field>    
                </div>
                
    </div>          